<style>
    .div_hide {
        display: none
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 100% !important;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
@model CaseViewModel
<div class="form-group row">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Against Case Decision For</legend>
        @* <button class="add-btn-repeat btn btn-success" onclick="addElement($(this))" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button> *@
        <div id="agenestcaseId">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">@localizer["Impuged order date"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="date" asp-for="AgainstCaseDetails[0].ImpugedOrderDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" id="ImpugedOrderDate_0" placeholder="dd/MM/yyyy" class="form-control">
                    </div>
                </div>
                <label class="col-md-2 col-form-label">@localizer["Court Type"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstCourtTypeId_0" asp-for="AgainstCaseDetails[0].CourtTypeId" asp-items="@Model.CourtTypes">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row div_hide" id="AgainstDivHighCourt_0">
                <label class="col-md-2 col-form-label">@localizer["State"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstStateId_0" asp-for="AgainstCaseDetails[0].StateId" asp-items="@Model.States">
                            <option></option>
                        </select>
                    </div>
                </div>
                <label class="col-md-2 col-form-label">@localizer["Strength"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstStrengthId_0" asp-for="AgainstCaseDetails[0].StrengthId" asp-items="@Model.Strengths">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">@localizer["Case Category"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstCaseCategoryId_0" asp-for="AgainstCaseDetails[0].CaseCategoryId" asp-items="@Model.CaseNatures">
                            <option></option>
                        </select>
                    </div>
                </div>
                <label class="col-md-2 col-form-label">@localizer["Case Type"] </label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstCaseTypeId_0" asp-for="AgainstCaseDetails[0].CaseTypeId" asp-items="@Model.TypeOfCases">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row div_hide" id="AgainstDivDistrictCourt_0">
                <label class="col-md-2 col-form-label">@localizer["Court District"] </label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstCourtDistrictId_0" asp-for="AgainstCaseDetails[0].CourtDistrictId" asp-items="@Model.CourtDistricts">
                            <option></option>
                        </select>
                    </div>
                </div>
                <label class="col-md-2 col-form-label">@localizer["Court Complex"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstComplexBenchId_0" asp-for="AgainstCaseDetails[0].ComplexBenchId" asp-items="@Model.ComplexBenchs">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">@localizer["Court/Bench"] </label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select  class="form-control select2bs4" id="AgainstCourtBenchId_0" asp-for="AgainstCaseDetails[0].CourtBenchId" asp-items="@Model.Courts">
                            <option></option>
                        </select>
                    </div>
                    
                </div>
                <label class="col-md-2 col-form-label">@localizer["Case No/Year"] </label>
                <div class="col-md-2">
                    <div class="input-group">
                        <input type="text" placeholder="Case Number" asp-for="AgainstCaseDetails[0].CaseNo" id="AgainstCaseNo_0" class="form-control" />
                    </div>                    
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstYear_0" asp-for="AgainstCaseDetails[0].CaseYear" asp-items="@Model.Years">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">@localizer["Cis No/Year"]</label>
                <div class="col-md-2">
                    <div class="input-group">                    
                        <input type="text" placeholder="Cis number" asp-for="AgainstCaseDetails[0].CisNo" id="AgainstCisNo_0" class="form-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <select class="form-control select2bs4" id="AgainstCisYear_0" asp-for="AgainstCaseDetails[0].CisYear" asp-items="@Model.Years">
                            <option></option>
                        </select>
                    </div>
                    
                </div>

                <label class="col-md-2 col-form-label">@localizer["Cnr No"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" placeholder="Cnr number" asp-for="AgainstCaseDetails[0].CnrNo" id="AgainstCnrNo_0" class="form-control" />
                    </div>
                    
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">@localizer["Officer Name"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" asp-for="AgainstCaseDetails[0].OfficerName" id="OfficerName_0" placeholder="Proceeding officer" class="form-control">
                    </div>
                </div>
                <label class="col-md-2 col-form-label">@localizer["Cadre"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select  class="form-control select2bs4" id="Cadre_0" asp-for="AgainstCaseDetails[0].Cadre" asp-items="@Model.Cadres">
                            <option></option>
                        </select>
                    </div>
                    <span asp-validation-for="AgainstCaseDetails[0].Cadre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <div class="input-group">
                        <button type="button" class="btn btn-danger remove">- remove</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>