@model CaseHistoryViewModel
<style>
    .div_hide {
        display: none
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 100% !important;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

    .custom-file-input {
        opacity: 1 !important;
    }
</style>
<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="Hearing" method="post" asp-action="UpdateCaseDate" class="d-inline">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Case Detail Information</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">@localizer["Court"]</label>
                            <label class="col-md-4 col-form-label">@localizer[Model.Court]</label>
                            <label class="col-md-2 col-form-label">@localizer["Case No/Year"]</label>
                            <label class="col-md-4 col-form-label"> @localizer[Model.CaseNoYear]</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">@localizer["Case Title"]</label>
                            <label class="col-md-10 col-form-label">@localizer[Model.Title]</label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Case Attached Documents Information</legend>

                <table id="tblCaseHistory" class="table table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sno.</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Docs.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @(i + 1)
                                </td>
                                <td>
                                    @Model.Docs[i].DocType
                                </td>
                                <td>
                                    @Model.Docs[i].DocDate
                                </td>
                                <td>
                                    @Model.Docs[i].DocName
                                </td>

                                <td>
                                    <p>
                                        <a href="~/@Model.Docs[i].DocFilePath" target="_blank">
                                            <i class="fa fa-file-pdf" aria-hidden="true"></i>
                                        </a>
                                    </p>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </fieldset>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <table id="tblCaseHistory" class="table table-striped" width="100%" cellspacing="0" style="border: 1px solid #ddd; border-collapse: collapse;">
                        <thead>
                            <tr style="border: 1px solid #ddd;">
                                <th style="border: 1px solid #ddd; padding: 8px;">Sno.</th>
                                <th style="border: 1px solid #ddd; padding: 8px;">Type</th>
                                <th style="border: 1px solid #ddd; padding: 8px;">Proceeding</th>
                                <th style="border: 1px solid #ddd; padding: 8px;">Stage</th>
                                <th style="border: 1px solid #ddd; padding: 8px;">Next Date</th>
                                <th style="border: 1px solid #ddd; padding: 8px;">Proceeding</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<string> ProcDates = Model.History
                                .Select(s => s.Date)
                                .Distinct().ToList();
                            }
                            @for (int p = 0; p < ProcDates.Count(); p++)
                            {
                                <tr style="border: 1px solid #ddd;">
                                    <td colspan="6" style="text-align:center; font-weight:bold; border: 1px solid #ddd; padding: 8px;">
                                        Proceeding Date - @ProcDates[p]
                                    </td>
                                </tr>
                                @for (int i = 0; i < Model.History.Count(); i++)
                                {
                                    <tr style="border: 1px solid #ddd; background-color: aqua;">
                                        <td style="border: 1px solid #ddd; padding: 8px;">@(i + 1)</td>
                                        <td style="border: 1px solid #ddd; padding: 8px;">@Model.History[i].Type</td>
                                        <td style="border: 1px solid #ddd; padding: 8px;">@Model.History[i].Date</td>
                                        <td style="border: 1px solid #ddd; padding: 8px;">@Model.History[i].Stage</td>
                                        <td style="border: 1px solid #ddd; padding: 8px;">@Model.History[i].NextDate</td>
                                        <td style="border: 1px solid #ddd; padding: 8px;">@Model.History[i].Activity</td>
                                    </tr>
                                    @for (int j = 0; j < @Model.History[i].WorkDetail.Count; j++)
                                    {
                                        for (int k = 0; k < @Model.History[i].WorkDetail[j].Works.Count; k++)
                                        {
                                            <tr style="border: 1px solid #ddd;background-color:coral;">
                                                <td colspan="1" style="border: 1px solid #ddd; padding: 8px;">@(k + 1)</td>
                                                <td colspan="2" style="border: 1px solid #ddd; padding: 8px;">@Model.History[i].WorkDetail[j].Works[k].WorkType</td>
                                                <td colspan="2" style="border: 1px solid #ddd; padding: 8px;">@Model.History[i].WorkDetail[j].Works[k].Work</td>
                                                <td colspan="1" style="border: 1px solid #ddd; padding: 8px;">Last Working Date - @Model.History[i].WorkDetail[j].WorkingDate</td>
                                            </tr>
                                        }
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
                <button type="submit" class="btn btn-warning close-button" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tblCaseHistory").DataTable(
            {
                "language": {
                    "emptyTable": "There is no history available for the selected case!"
                }
            }
        );
    });
</script>
