@{
    ViewData["Title"] = localizer["Add New Case"];
    ViewData["Caption"] = localizer["Manage Case"];
}
@model CaseViewModel

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <form id="create-form" method="post" asp-controller="CaseManage" asp-action="OnPostCreateOrEdit" asp-route-Id="@Model.Id"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">@localizer["Date Of Institution"]</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="date" asp-for="InstitutionDate" name="InstitutionDate" id="InstitutionDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" class="form-control">
                            </div>
                            <span asp-validation-for="InstitutionDate" class="text-danger"></span>
                        </div>

                        <label class="col-md-2 col-form-label">Linked With</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="LinkedClient" class="form-control select2bs4" id="LinkedClient" asp-for="LinkedClient" asp-items="@Model.ClientList">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="LinkedClient" class="text-danger"></span>
                            <a onclick="jQueryModalGet('/Client/ManageClient/OnGetCreateOrEdit','Create New Client')" class="btn bg-success"> Add Client </a>
                           
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Nature Of Case</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="CaseNatureId" class="form-control select2bs4" id="CaseNatureId" asp-for="CaseNatureId" asp-items="@Model.CaseNatures">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="CaseNatureId" class="text-danger"></span>
                        </div>
                        <label class="col-md-2 col-form-label">Type Of Cases</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="TypeOfCaseId" class="form-control select2bs4" id="TypeOfCaseId" asp-for="TypeOfCaseId" asp-items="@Model.TypeOfCases">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="TypeOfCaseId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">@localizer["Type Of Court"]</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="CourtTypeId" class="form-control select2bs4" id="CourtTypeCode" asp-for="CourtTypeId" asp-items="@Model.CourtTypes">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="CourtTypeId" class="text-danger"></span>
                        </div>
                        <label class="col-md-2 col-form-label">Court Name</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="CourtId" class="form-control select2bs4" id="CourtName" asp-for="CourtId" asp-items="@Model.Courts">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="CourtId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Case Type</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="CaseTypeId" class="form-control select2bs4" id="CaseTypeId" asp-for="CaseTypeId" asp-items="@Model.CaseTypes">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="CaseTypeId" class="text-danger"></span>
                        </div>
                        <label class="col-md-2 col-form-label">Case No/Year</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="text" placeholder="Case Number" asp-for="CaseNumber" name="CaseNumber" id="CaseNumber" class="form-control" />
                            </div>
                            <span asp-validation-for="CaseNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <select name="CaseYear" class="form-control select2bs4" id="year" asp-for="CaseYear" asp-items="@Model.Year">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="CaseYear" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Title First</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" placeholder="First title" asp-for="TitleFirst" name="TitleFirst" id="TitleFirst" class="form-control" />
                            </div>
                            <span asp-validation-for="TitleFirst" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <select name="FirstTitleType" class="form-control select2bs4" id="FirstTitleType" asp-for="FirstTitleType" asp-items="@Model.FirstTitleList">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="FirstTitleType" class="text-danger"></span>
                        </div>
                       
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12" style="margin-left:50%"><strong>VS</strong></div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Title Second</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" placeholder="Second title" asp-for="TitleSecond" name="TitleSecond" id="TitleSecond" class="form-control" />
                            </div>
                            <span asp-validation-for="TitleSecond" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <select name="SecondTitleType" class="form-control select2bs4" id="SecondTitleType" asp-for="SecondTitleType" asp-items="@Model.SecondTitleList">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="SecondTitleType" class="text-danger"></span>
                        </div>
                       
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                        </div>
                    </div>

                    <hr>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Next Date</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="date" asp-for="NextDate" name="NextDate" id="NextDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" placeholder="dd/MM/yyyy" class="form-control">
                            </div>

                        </div>
                        <label class="col-md-2 col-form-label">Stage Of Case</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="CaseStageCode" class="form-control select2bs4" id="CaseStageCode" asp-for="CaseStageCode" asp-items="@Model.CaseStatusList">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="CaseStageCode" class="text-danger"></span>
                        </div>
                    </div>
                    <hr>
                    @localizer["Against Case Decision For"]
                    <hr>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Date Of Decision</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="date" asp-for="CaseAgainstDecisionDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" name="CaseAgainstDecisionDate" id="CaseAgainstDecisionDate" placeholder="dd/MM/yyyy" class="form-control">
                            </div>

                        </div>
                        <label class="col-md-2 col-form-label">Type Of Court</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="AgainstCourtTypeId" class="form-control select2bs4" id="AgainstCourtTypeCode" asp-for="AgainstCourtTypeId" asp-items="@Model.CourtTypes">
                                    <option></option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Court Name</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="AgainstCourtId" class="form-control select2bs4" id="AgainstCourtName" asp-for="AgainstCourtId" asp-items="@Model.Courts">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="AgainstCourtId" class="text-danger"></span>
                        </div>
                        <label class="col-md-2 col-form-label">Case No/Year</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="text" placeholder="Case Number" asp-for="AgainstCaseNumber" name="AgainstCaseNumber" id="AgainstCaseNumber" class="form-control" />
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <select name="AgainstYear" class="form-control select2bs4" id="AgainstYear" asp-for="AgainstYear" asp-items="@Model.Year">
                                    <option></option>
                                </select>
                            </div>
                            <span asp-validation-for="AgainstYear" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Linked By</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select name="LinkedCaseId" class="form-control select2bs4" id="LinkedCaseId" asp-for="LinkedCaseId" asp-items="@Model.LinkedBy">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset" class="btn btn-outline-warning">Reset</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/casemanage.js"></script>
    <script type="text/javascript" language=javascript>
        $.validator.unobtrusive.parse(document);
    </script>
}



