@model IEnumerable<GetCaseInfoViewModel>
<table id="tblUserCase" class="table table-striped" width="100%" cellspacing="0">
	<thead>
		<tr>
			<th style="width:1%!important">Sno.</th>
			<th style="width:10%!important">Reference</th>
			<th style="width:16%!important">Court</th>
			<th style="width:16%!important">Type</th>
			<th style="width:5%!important">No.</th>
			<th style="width:5%!important">Year</th>
			<th style="width:30%!important">Title</th>
			<th style="width:10%!important">Stage</th>
			<th style="width:14%!important">Next Date</th>
			<th style="width:3%!important">Actions</th>
		</tr>
	</thead>
	<tbody>
		@{
			int count = 0;
		}
		@foreach (var bt in Model)
		{
			<tr>
				<td>
					@(count = count + 1)
				</td>
				<td>
					@bt.Reference
				</td>
				<td>
					@bt.Court
				</td>
				<td>
					@bt.CaseType
				</td>
				<td>
					@bt.No
				</td>
				<td>
					@if (bt.Year != "0")
					{
						@bt.Year
					}
				</td>
				<td>
					@bt.CaseDetail
				</td>
				<td>
					@bt.CaseStage
				</td>

				<td>
					@if (bt.NextDate != "01-01-0001")
						@bt.NextDate




				</td>
				<td class="text-right">
					@{
						var actionModel = new CaseActionViewModel();
						actionModel.CaseId = @bt.Id;
						actionModel.Reference = @bt.Reference;
						actionModel.IsCaseAssigned = @bt.IsCaseAssigned;
						actionModel.LawyerId = @bt.LawyerId;
					}
					<partial name="_CaseGroupActionPartial" model="@actionModel"></partial>
				</td>
			</tr>
		}
	</tbody>
</table>
<script>
	$(document).ready(function () {
		JqueryDataTable('tblUserCase','User Data List','0,1,2,3,4,5,6,7');
	});
</script>