@model IEnumerable<GetCaseInfoViewModel>
@{
    ViewData["Title"] = localizer["Case List Without Next Date"];
    ViewData["Caption"] = localizer["You can fill hearing date from here"];
    ViewData["Note"] = localizer["All (*) marked date will default today date. There is no next date present in database "];
}
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <table id="tblCaseWohd" class="table table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:5%!important">Sno.</th>
                    <th style="width:15%!important">Court</th>
                    <th style="width:15%!important">Type</th>
                    <th style="width:5%!important">No.</th>
                    <th style="width:5%!important">Year</th>
                    <th style="width:30%!important">Title</th>
                    <th style="width:10%!important">Stage</th>
                    <th style="width:15%!important">Next Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                }
                @foreach (var bt in Model)
                {
                    <tr>
                        <td>
                            <input type="hidden" asp-for="@bt.Id" />
                            @(count = count + 1)
                        </td>
                        <td>
                            @bt.Court
                        </td>
                        <td>
                            @bt.CaseType
                        </td>
                        <td>
                            @bt.No
                        </td>
                        <td>
                            @bt.Year
                        </td>
                        <td>
                            @bt.CaseDetail
                        </td>
                        <td>
                            @bt.CaseStage
                        </td>
                        <td>
                            @{
                                DateTime? ndt =null;
                                if (@bt.NextDate != "")
                                    ndt = Convert.ToDateTime(@bt.NextDate);
                            }
                            <input type="date" asp-for="@ndt" class="form-control" />
                            @if (ndt == null)
                            {                                
                                <span style="color:red">*</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.Count() > 0)
        {
            <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
                <input type="button" id="btnUpdate" class="btn btn-success" value="Update"></input>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script src="~/js/Litigation/CaseHearingDate.js"></script>
}
