@model InstitutionRegisterViewMode
<tbody>
	@for (int i = 0; i < Model.dtmodel.Count(); i++)
	{
		<tr>
			<td>
				<input type="hidden" asp-for="@Model.dtmodel[i].Id" />
				@(i + 1)
			</td>
			<td> @Model.dtmodel[i].Reference </td>
			<td> @Model.dtmodel[i].Court </td>
			<td>@Model.dtmodel[i].CaseType</td>
			<td>@Model.dtmodel[i].No</td>
			<td>@Model.dtmodel[i].Year</td>
			<td>
				@{
					string Title = Model.dtmodel[i].FirstTitle + " Vs " + Model.dtmodel[i].SecondTitle;
				}
				@Title
			</td>
			<td> @Model.dtmodel[i].InsititutionDate </td>
			<td class="text-right">
				@{
					var actionModel = new CaseActionViewModel();
					actionModel.CaseId = @Model.dtmodel[i].Id;
					actionModel.Reference = @Model.dtmodel[i].Reference;
					actionModel.IsCaseAssigned = @Model.dtmodel[i].IsCaseAssigned;
					actionModel.LawyerId = @Model.dtmodel[i].LawyerId;
				}
				<partial name="_CaseGroupActionPartial" model="@actionModel"></partial>
			</td>
		</tr>
	}
</tbody>
