@{
    ViewData["Title"] = localizer["Institution Register"];
    ViewData["Caption"] = localizer["User's Institution Register"];
}
@model InstitutionRegisterViewMode
<div class="card">    
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="Hearing" method="post" asp-action="UpdateCaseDate" class="d-inline">
            <div class="row">
                <div class="col-md-12">
                    <table id="tblRegister" class="table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sno.</th>
                                <th>Court.</th>
                                <th>Type</th>
                                <th>No</th>
                                <th>Year</th>
                                <th>Title</th>
                                <th>Institution Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.dtmodel.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" asp-for="@Model.dtmodel[i].Id" />
                                        @(i + 1)
                                    </td>
                                    <td> @Model.dtmodel[i].Court </td>
                                    <td>@Model.dtmodel[i].CaseType</td>
                                    <td>@Model.dtmodel[i].No</td>
                                    <td>@Model.dtmodel[i].Year</td>
                                    <td>
                                        @{
                                            string Title = Model.dtmodel[i].FirstTitle + " Vs " + Model.dtmodel[i].SecondTitle;
                                        }
                                        @Title
                                    </td>
                                    <td> @Model.dtmodel[i].InsititutionDate </td>
                                    <td>
                                        <a onclick="jQueryModalGet('/Litigation/casemanage/OnGetCaseHistory?CaseId=@Model.dtmodel[i].Id', 'See History')" class="fa fa-history"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tblRegister").DataTable(
                {
                    "language": {
                        "emptyTable": "Record is not there!"
                    }
                }
            );
        });
    </script>
}

