@model IEnumerable<OtherRegisterViewModel>
<table id="tblRegister" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th style="width:5%!important">Sno.</th>
            <th style="width:20%!important">Case Detail</th>
            <th style="width:8%!important">Date</th>
            <th style="width:10%!important">Work Type</th>            
            <th style="width:15%!important">Work</th>
            <th style="width:10%!important">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var bt in Model)
        {
            <tr>
                <td>
                    @(++count)
                </td>
                <td>
                    @bt.Title
                </td>
                <td>
                    @bt.WorkDate
                </td>
                <td>
                    @bt.WorkType
                </td>
               
                <td>
                    @bt.WorkDone
                </td>

                <td>
                    <a onclick="jQueryModalGet('/Litigation/casemanage/OnGetCaseHistory?CaseId=@bt.Id', 'See History')" class="fa fa-history" title="See History"></a>
                    <a asp-area="Litigation" asp-controller="casemanage" asp-action="GetCaseDetail" asp-route-id="@bt.Id" class="fa fa-eye" title="View Case Detail"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblRegister").DataTable();
    });
</script>