@model TitleViewModel
<style>
    .div_hide {
        display: none
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 100% !important;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
<form id="create-form" method="post" asp-controller="Title"
      asp-action="OnCreatOrUpdateTitle" asp-route-Id="@Model.Id"
      onsubmit="return jQueryModalPost(this);"
      enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["Type"]</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select class="form-control select2bs4" asp-for="TypeId" asp-items="@Model.Types">
                            <option></option>
                        </select>
                    </div>
                    <span asp-validation-for="TypeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["Case Detail"]</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select class="form-control select2bs4"
                                asp-for="CaseId"
                                asp-items="@Model.Cases">
                            <option></option>
                        </select>
                    </div>
                    <span asp-validation-for="CaseId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">@localizer["Complete Title"]</legend>
                    <table id="tblApplicant" border="1" style="width:100%!important">
                        <thead>
                            <tr>
                                <th width="10%"><label class="col-form-label">Srno.</label></th>
                                <th width="80%"><label class="col-form-label">Applicant Detail</label></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody class="data-repeater">
                            @for (int index = 0; index < Model.CaseApplicants.Count(); index++)
                            {
                                <tr class="kolom">
                                    <td><input type="text" asp-for="CaseApplicants[index].ApplicantNo" value="@Model.CaseApplicants[index].ApplicantNo" style="width:50px;" class="form-control" /></td>
                                    <td><textarea asp-for="CaseApplicants[index].ApplicantDetail" cols="1" rows="1" placeholder="Please enter applicant detail " class="form-control"></textarea></td>
                                    <td class="btn-repeater">
                                        @if (index == Model.CaseApplicants.Count() - 1)
                                        {
                                            <button class="add-btn-repeat btn btn-success" onclick="addElement($(this))" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        }
                                        else
                                        {
                                            <button type="button" onclick="removeKolom($(this))" class="btn btn-warning"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    </div>
</form>

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse("#create-form");
    $(document).ready(function () {
        $("#TypeId").select2({
            placeholder: "Select a type",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
        $("#CaseId").select2({
            placeholder: "Select a case",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
    });
    var btn_delete = '<button type="button" onclick="removeKolom($(this))" class="btn btn-warning"><i class="fa fa-trash" aria-hidden="true"></i></button>';
    var btn_add = '<button class="add-btn-repeat btn btn-success" onclick="addElement($(this))" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>';
    var counter = 1;
    function addElement(e) {
        var trlength = $('#tblApplicant tbody tr').length;
        var clonedRow = $('#tblApplicant tbody tr:last').clone();
        clonedRow.find('input').each(function (i) {
            NameAtr = "CaseApplicants[" + trlength + "].ApplicantNo";
            IdAtr = "CaseApplicants_" + trlength + "__ApplicantNo";
            $(this).attr('name', NameAtr).attr('id', IdAtr).val(trlength + 1);
        });
        clonedRow.find('textarea').each(function (i) {
            NameAtr = "CaseApplicants[" + trlength + "].ApplicantDetail";
            IdAtr = "CaseApplicants_" + trlength + "__ApplicantDetail";
            $(this).attr('name', NameAtr).attr('id', IdAtr);
        });

        clonedRow.find('button').find('button').replaceWith(btn_add);
        clonedRow.find('button.add-btn-repeat').replaceWith(btn_delete);
        clonedRow.find("textarea").val("");
        $('#tblApplicant tbody').append(clonedRow);
    }
    function removeKolom(e) {
        e.parents('.kolom').remove();
    }

</script>