@model IEnumerable<LawyerLViewModel>
<table id="tblLawyer" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Sr.</th>
            <th>Name</th>
            <th>Enrollment</th>
            <th>Mobile</th>
            <th>Email</th>
            @if ((AuthorizationService.AuthorizeAsync(User, "AdminPanel.LawyerDirectory.Delete")).Result.Succeeded
            || (AuthorizationService.AuthorizeAsync(User, "AdminPanel.LawyerDirectory.Edit")).Result.Succeeded)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>

        @{
            int count = 0;
        }
        @foreach (var bt in Model)
        {
            <tr>
                <td>
                    @(++count)
                </td>
                <td>
                    <div class="row">
                        @if (@bt.ProfileImgPath != null && bt.ProfileImgPath != "")
                        {
                            <div class="col-sm" style=" max-width: 80px;margin-right: 20px;">
                                <img class="img-profile rounded-circle" style="height: 75px;width:75px;object-fit: cover;"
                                     src="@bt.ProfileImgPath" alt="Profile Image">
                            </div>
                        }
                        else
                        {
                            <div class="col-sm" style="max-width:80px; margin-right: 20px;">
                                <img class="img-profile rounded-circle" style="height: 75px;width:75px;object-fit: cover;"
                                     src="~/images/default-user.png">
                            </div>
                        }
                        <div class="col-sm">
                            <a>
                                @bt.FirstName @bt.LastName
                            </a>
                            <br>
                            <small>
                                @bt.Dob
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    @bt.EnrollNumber
                </td>
                <td>
                    @bt.Mobile
                </td>
                <td>
                    @bt.Email
                </td>

                @if ((AuthorizationService.AuthorizeAsync(User, "AdminPanel.LawyerDirectory.Delete")).Result.Succeeded
               || (AuthorizationService.AuthorizeAsync(User, "AdminPanel.LawyerDirectory.Edit")).Result.Succeeded)
                {
                    <td text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                @if ((AuthorizationService.AuthorizeAsync(User, "AdminPanel.LawyerDirectory.Edit")).Result.Succeeded)
                                {
                                    <a onclick="jQueryModalGet('/lawyerdiary/lawyer/OnGetCreateOrEdit?id=@bt.Id','Edit Lawyer Information')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a>

                                }
                                @if ((AuthorizationService.AuthorizeAsync(User, "AdminPanel.LawyerDirectory.Delete")).Result.Succeeded)

                                {
                                    <form id="form_delete_@bt.Id" asp-area="LawyerDiary" asp-controller="Lawyer" method="post" asp-action="OnPostDelete" asp-route-id="@bt.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_delete_@bt.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete</a>
                                    </form>
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblLawyer").DataTable();
    });
</script>