@{
    ViewData["Title"] = localizer["Manage Template"];
    ViewData["Caption"] = localizer["Dynamically"];
}

<style>
    .main-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .ck-editor__editable {
        min-height: 300px;
        max-height: 300px;
    }

</style>
@model TemplateViewModel
<form id="frmTemplateBuilder" method="post" asp-controller="TemplateBuilder"
      asp-action="OnPostCreateOrEdit"
      asp-route-Id="@Model.Id">
    <input type="hidden" id="hdnId" asp-for="@Model.Id" value="@Model.Id" />
    <div class="row">
        <div class="col-md-12">
            @* <div class="form-group row">
                <label class="col-md-3 col-form-label">Court Type</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="CourtTypeId" class="form-control select2bs4" id="CourtTypeId"
                                asp-for="CourtTypeId" placeholder="Select Court Type"
                                asp-items="@Model.CourtTypes">
                            <option></option>
                        </select>
                    </div>
                    <span asp-validation-for="CourtTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">State</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="StateCode" class="form-control select2bs4" id="StateCode" asp-for="StateCode"
                                asp-items="@Model.States">
                            <option></option>
                        </select>
                    </div>
                    <span asp-validation-for="StateCode" class="text-danger"></span>
                </div>
            </div> *@
            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["Template Name"]</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" placeholder="Please enter template name" asp-for="TemplateName" class="form-control" />
                    </div>
                    <span asp-validation-for="TemplateName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row ">
                <label class="col-md-12 col-form-label">@localizer["TEMPLATE BODY DETAIL"]</label>
            </div>
            <div class="form-group row">
                <div class="main-container">
                    <textarea asp-for="TemplateBody"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">@ViewBag.BtText</button>
        <input type="button" class="btn btn-default close-button" id="btnReset" value="Reset" data-dismiss="modal"></button>
    </div>
</form>
@section Scripts
{
    <script src="~/assets/ckeditor/ckeditor.js"></script>
    <script>
            $(document).ready(function(){
                CKEDITOR.replace('TemplateBody');
                        $("#btnReset").on('click', function () {
                        CKEDITOR.instances['TemplateBody'].setData();
                    $("#TemplateName").val('');
                });
            });

            $(document).ready(function() {
            $('#frmTemplateBuilder').submit(function(event) {               
                event.preventDefault();
            var url = $("#frmTemplateBuilder").attr("action");
            var data = $("#frmTemplateBuilder").serialize();
                $.ajax({
                    type: 'POST',
                    //url: '/Admin/TemplateBuilder/OnPostCreateOrEdit?id=' + id, // Adjust the URL accordingly
                    url:url,
                    data: data,
         contentType: 'application/x-www-form-urlencoded; charset=UTF-8',

                    success: function(response) {
                        if (response.success) {
                            Swal.fire('Success', response.message, 'success');
                        } else {
                            Swal.fire('Error', response.message, 'error');
                        }
                    },
                    error: function() {
                        Swal.fire('Error', 'An unexpected error occurred.', 'error');
                    }
                });
            });
        });
    </script>
}