<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 100% !important;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>

@model CaseProceedingViewModel
<form id="create-form" method="post" asp-controller="hearing"
      asp-action="OnPostCaseProceeding" enctype="multipart/form-data">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">@localizer["Proceeding Date"]</label>
            <label class="col-md-10 col-form-label">@Model.ProceedingDate</label>
        </div>
        @if (Model.Court != null)
        {
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Case Detail Information</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">@localizer["Court"]</label>
                            <label class="col-md-4 col-form-label">@localizer[Model.Court]</label>
                            <label class="col-md-2 col-form-label">@localizer["Case No/Year"]</label>
                            <label class="col-md-4 col-form-label"> @localizer[Model.No + "/" + Model.Year]</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">@localizer["Case Title"]</label>
                            <label class="col-md-10 col-form-label">@localizer[Model.FirstTitle + "Vs" + Model.SecondTitle]</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><strong>Case Proceeding</strong></legend>
            <div class="col-md-12">
                <input type="hidden" asp-for="CaseId" />
                @if (Model.MCasIds!=null && Model.MCasIds.Count > 0)
                {
                    @for (int i = 0; i < Model.MCasIds.Count; i++)
                    {
                        <input type="hidden" asp-for="MCasIds[i]" value="@Model.MCasIds[i]" />
                    }
                }
                <input type="hidden" asp-for="IsUpdate" />
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">@localizer["Proceeding Type"]</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select class="form-control select2bs4" asp-for="HeadId" asp-items="@Model.ProceedingTypes">
                                <option></option>
                            </select>
                        </div>
                        <span asp-validation-for="HeadId" class="text-danger"></span>
                    </div>
                    <label class="col-md-2 col-form-label">@localizer["Proceeding"]</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select class="form-control select2bs4" asp-for="SubHeadId" asp-items="@Model.Proceedings">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-2 col-form-label">@localizer["Next Stage"]</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select class="form-control select2bs4" asp-for="StageId" asp-items="@Model.Stages">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <label class="col-md-2 col-form-label">@localizer["Next Date"]</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="date" id="NextDate" asp-for="NextDate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Case Proceeding Work Detail</legend>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">@localizer["Working Date"]</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="date" asp-for="@Model.ProcWork.WorkingDate"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <table id="tblWorks" border="1" style="width:100%!important">
                            <thead>
                                <tr>
                                    <th width="45%">@localizer["Work Type"]</th>
                                    <th width="45%">@localizer["Work"]</th>
                                    <th width="10%"></th>
                                </tr>
                            </thead>
                            <tbody class="data-repeater">
                                <tr>
                                    <td>
                                        <select class="form-control select2bs4"
                                                asp-for="@Model.ProcWork.Workdt[0].WorkTypeId"
                                                asp-items="@Model.ProcWork.WorkTypes">
                                            <option></option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control select2bs4"
                                                asp-for="@Model.ProcWork.Workdt[0].WorkId"
                                                asp-items="@(Model.ProcWork.Workdt != null ? Model.ProcWork.Workdt[0].Works : new List<SelectListItem>())">
                                            <option></option>
                                        </select>
                                    </td>
                                    <td class="btn-repeater">
                                        <button class="add-btn-repeat btn btn-success" onclick="addElement($(this))" type="button">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                @if (Model.ProcWork.Workdt != null)
                                {
                                    @for (int i = 1; i < @Model.ProcWork.Workdt.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                <select class="form-control select2bs4"
                                                        asp-for="@Model.ProcWork.Workdt[i].WorkTypeId"
                                                        asp-items="@Model.ProcWork.WorkTypes"
                                                        onchange="BindDynamicWork('@("ProcWork_Workdt_" + i + "__WorkTypeId")','@("ProcWork_Workdt_" + i + "__WorkId")')">
                                                    <option></option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control select2bs4"
                                                        asp-for="@Model.ProcWork.Workdt[i].WorkId"
                                                        asp-items="@Model.ProcWork.Workdt[i].Works">
                                                    <option></option>
                                                </select>
                                            </td>
                                            <td class="btn-repeater">
                                                <button class="btn btn-warning" onclick="removeKolom($(this))" type="button">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>

        </div>

        <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
            @{
                string ButtonText = "";
                if (Model.IsUpdate == true) ButtonText = "Update";
                else ButtonText = "Save";
            }
            <button type="submit" class="btn btn-success">@ButtonText</button>
            <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>

<script src="~/js/litigation/workproceeding.js"></script>