@model BringTodayCaseViewModel

<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="Hearing" method="post" asp-action="AssignWorkCase"
              class="d-inline" return=jQueryModalGet(this)>
            <div class="row">
                <div class="col-md-12">
                    <table id="tblTHearingCaseDetail" class="table table-striped"
                           width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sno.</th>
                                <th>Court</th>
                                <th>Type</th>
                                <th>Number</th>
                                <th>Year</th>
                                <th>Stage</th>
                                <th>Title</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 0;
                                string col = "";
                            }
                            @for (int i = 0; i < Model.CaseList.Count(); i++)
                            {
                                @if (@Model.CaseList[i].IsProceedingDone)
                                {
                                    col = "green";
                                }
                                else col = "";
                                <tr style="color:@col">
                                    <td style="width:5%">
                                        <input type="hidden" asp-for="@Model.CaseList[i].Id" />
                                        @(count = count + 1)
                                    </td>
                                    <td style="width:10%">
                                        <input type="hidden" asp-for="@Model.CaseList[i].CourtName" />
                                        @Model.CaseList[i].CourtName
                                    </td>
                                    <td style="width:10%">
                                        <input type="hidden" asp-for="@Model.CaseList[i].CaseTypeName" />
                                        @Model.CaseList[i].CaseTypeName
                                    </td>
                                    <td style="width:10%">
                                        <input type="hidden" asp-for="@Model.CaseList[i].CaseNumber" />
                                        @Model.CaseList[i].CaseNumber
                                    </td>
                                    <td style="width:5%">
                                        <input type="hidden" asp-for="@Model.CaseList[i].CaseYear" />
                                        @Model.CaseList[i].CaseYear
                                    </td>
                                    <td style="width:5%">
                                        <input type="hidden" asp-for="@Model.CaseList[i].CaseStage" />
                                        @Model.CaseList[i].CaseStage
                                    </td>
                                    <td style="width:35%">
                                        <input type="hidden" asp-for="@Model.CaseList[i].CaseTitle" />
                                        @Model.CaseList[i].CaseTitle
                                    </td>
                                    <td>
                                        <div class="form-check m-1">
                                            <input asp-for="@Model.CaseList[i].Selected" class="form-check-input" />
                                        </div>
                                    </td>
                                    <td style="width:6%">
                                        <a onclick="jQueryModalGet('/Litigation/casemanage/OnGetCaseHistory?CaseId=@Model.CaseList[i].Id', 'See History')" title="Case History"> <i class="fa fa-history"></i></a>
                                        <a onclick="jQueryModalGet('/Litigation/hearing/CaseProceeding?CaseId=@Model.CaseList[i].Id', 'Case Proceeding')" title="Add Proceeding/work detail for the case"> <i class="fa fa-plus-square"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tblTHearingCaseDetail').DataTable({
            language: {"emptyTable": "There are no pending works!"},
            dom: 'Bfrtip',// B (buttons), f (filter), t (table), p (pagination)
            buttons:[
                    {
                        extend: 'excelHtml5',
                        text: 'Export',
                        title: 'Today Case Hearing',
                        filename: function () {
                            var date = new Date();
                            return 'Today Case Hearing' +"_"+ date.toISOString().split('T')[0];
                        },
                        exportOptions: {
                            columns: [0,1,2,3,4,5,6]
                        }
                    },
                    {
                        text: 'Update Common Proceeding',
                        action: function (e, dt, node, config) {                           
                                var selectedCaseIds = [];
                                // Find all checked checkboxes in the table and collect their associated CaseId
                                $("#tblTHearingCaseDetail tbody input[type='checkbox']:checked").each(function () {
                                        var caseId = $(this).closest("tr").find("input[type='hidden']").val();
                                        if (caseId) {
                                        selectedCaseIds.push(caseId);
                                        }
                                });

                                if (selectedCaseIds.length === 0) {
                                    Swal.fire("Error!", "Please select at least one case.", "error");
                                    return;
                                }

                                // Convert selectedCaseIds array to a comma-separated string
                                var caseIdsString = selectedCaseIds.join(',');

                                // Call modal with the selected CaseIds
                                    jQueryModalGet('/Litigation/hearing/BulkProceeding?CaseIds=' + caseIdsString, 'Case Proceedings');

                                }
                    }]
            });
    });
</script>
