@{
	ViewData["Title"] = localizer["Court Forms"];
	ViewData["Caption"] = localizer["Manage form template"];
}

<style>
	.main-container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.ck-editor__editable {
		min-height: 500px;
		max-height: 700px;
	}

</style>
@model CourtFormAddUpdateViewModel
<form id="CourtFormTemplate" method="post" asp-controller="CourtForm"
	  asp-action="OnPostCreateOrEdit"
	  asp-route-Id="@Model.Id">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group row">
				<label class="col-md-3 col-form-label">Court Type</label>
				<div class="col-md-3">
					<div class="input-group">
						<select class="form-control select2bs4" asp-for="CourtTypeId"
								placeholder="Select Court Type"
								asp-items="@Model.CourtTypes">
							<option></option>
						</select>
					</div>
					<span asp-validation-for="CourtTypeId" class="text-danger"></span>
				</div>
				<label class="col-md-3 col-form-label">State</label>
				<div class="col-md-3">
					<div class="input-group">
						<select class="form-control select2bs4" asp-for="StateId"
								asp-items="@Model.States">
							<option></option>
						</select>
					</div>
					<span asp-validation-for="StateId" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-3 col-form-label">Case Category</label>
				<div class="col-md-3">
					<div class="input-group">
						<select class="form-control select2bs4" asp-for="CaseCategoryId"
								asp-items="@Model.CaseCategory">
							<option></option>
						</select>
					</div>
					<span asp-validation-for="CaseCategoryId" class="text-danger"></span>
				</div>
				<label class="col-md-3 col-form-label">Form Langauge</label>
				<div class="col-md-3">
					<div class="input-group">
						<select class="form-control select2bs4" asp-for="LanguageCode"
								asp-items="@Model.Languages">
							<option></option>
						</select>
					</div>
					<span asp-validation-for="LanguageCode" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-3 col-form-label">@localizer["From Name"]</label>
				<div class="col-md-9">
					<div class="input-group">
						<input type="text" placeholder="Please enter template name" asp-for="FormName" class="form-control" />
					</div>
					<span asp-validation-for="FormName" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group row ">
				<label class="col-md-12 col-form-label">@localizer["Form BODY DETAIL"]</label>
			</div>
			<div class="form-group row">
				<div class="main-container">
					<textarea asp-for="FormTemplate" id="FormTemplate" name="FormTemplate"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group justify-content-between" style="margin-bottom: 0px !important">
		<button type="submit" class="btn btn-success">Save</button>
		<input type="button" class="btn btn-default close-button" value="Cancel" data-dismiss="modal" />
	</div>
</form>
@section Scripts
{
	@* <script src="~/assets/ckeditor/ckeditor.js"></script> *@
	<script src="https://cdn.tiny.cloud/1/sg2e3uig3d34rjk5xl46tjn1eogjiopm2fyz1arh9hgp1h50/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

	<script src="~/js/App/CourtForms.js"></script>
}


