@model IEnumerable<CaseSearchViewModel>

<table id="tblCaseSearch" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>         
            <th style="width:1%!important">Sno.</th>
            <th style="width:25%!important">Court</th>
            <th style="width:25%!important">Type</th>
            <th style="width:5%!important">No.</th>
            <th style="width:5%!important">Year</th>            
            <th style="width:38%!important">Title</th>
            <th style="width:1%;"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var bt in Model)
        {
            <tr>
                <td>
                    @(++count)
                </td>

                <td>
                    @bt.Court
                </td>
                <td>
                    @bt.CaseType
                </td>
                <td>
                    @bt.No
                </td>
                <td>
                    @bt.Year
                </td>
                <td>
                    @string.Concat(bt.Title)
                </td>
                <td>
                    <p>
                        <a href="~/@bt.DocFilePath" target="_blank">
                            <i class="fa fa-file-pdf" aria-hidden="true"></i>
                        </a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        JqueryDataTable('tblCaseSearch','Case Search Data','0,1,2');
    });    
</script>