@{
    ViewData["Title"] = localizer["Case Tracking"];
    //ViewData["Caption"] = localizer["Track your case"];
}
@model CourtApp.Web.Models.SearchViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <form id="create-form" method="post" asp-controller="CaseTracking" asp-action="CaseSearch"  onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <select name="SearchBy" class="form-control select2bs4" id="SearchBy" asp-for="SearchBy"
                                asp-items="@Model.SearchTypes">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select name="CourtTypeCode" class="form-control select2bs4" id="CourtTypeCode"
                                asp-for="CourtTypeCode" asp-items="@Model.CourtTypes">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 is-supream">
                        <div class="input-group">
                            <select name="StateCode" class="form-control select2bs4" id="StateCode" asp-for="StateCode"
                                asp-items="@Model.States">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 is-supream">
                        <div class="input-group">
                            <select name="DistrictCode" class="form-control select2bs4" id="DistrictCode" asp-for="DistrictCode"
                                asp-items="@Model.Districts">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3 is-supream">
                        <div class="input-group">
                            <select name="CourtId" class="form-control select2bs4" id="CourtId" asp-for="CourtId"
                                asp-items="@Model.Courts">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select name="TypeofcasesId" class="form-control select2bs4" id="TypeofcasesId"
                                asp-for="TypeofcasesId" asp-items="@Model.Typeofcasess">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="input-group">
                            <select name="CaseId" class="form-control select2bs4" id="CaseId"
                                asp-for="CaseId" asp-items="@Model.Cases">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" placeholder="Case No" asp-for="CaseNumber" name="CaseNumber" id="CaseNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" placeholder="Case Year" asp-for="CaseYear" name="CaseYear" id="datepicker" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="btnSearch" class="btn bg-success">
            <i class="fa fa-search"></i> Search
        </a>
        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-reset"></i>
            Reset
        </a>
         </form>          
    </div>
    <div id="viewAll" class="card-body table-responsive" style="display: none;">
    </div>
</div>
@section Scripts
{
<script>
    $(document).ready(function () {
        $("#SearchBy").select2({
            placeholder: "Select Search By",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
        $("#StateCode").select2({
            placeholder: "Select a State",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
        $("#DistrictCode").select2({
            placeholder: "Select a District",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
        $("#CourtTypeCode").select2({
            placeholder: "Select a Court Type",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
        $("#CourtId").select2({
            placeholder: "Select a Court",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
        $("#TypeofcasesId").select2({
            placeholder: "Select a Case Type",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
        $("#CaseId").select2({
            placeholder: "Select a Party",
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            }
        });
        $("#datepicker").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true //to close picker once year is selected
        });
        $("#StateCode").on("change", function () {
                $("#DistrictCode").empty();
                $.getJSON("/Litigation/CaseTracking/LoadDistricts?StateCode=" + $("#StateCode").val(), function (data) {
                    $.each(data.Data, function (i, item) {
                        $("#DistrictCode").append(`<option /><option value="${item.DistrictCode}">${item.DistrictName}</option>`);
                    });
                });
            });
        $("#CourtTypeCode").on("change", function () {
            $("#CourtId").empty();
            $.getJSON("/Litigation/CaseTracking/LoadCourt?courttype=" + $("#CourtTypeCode").val(), function (data) {
                $.each(data.Data, function (i, item) {
                    $("#CourtId").append(`<option /><option value="${item.UniqueId}">${item.CourtName}</option>`);
                });
            });
        });

        $("#btnSearch").on("click",function(){
            $("#viewAll").show();
        });
        $("#brandTable").DataTable();
        loadData();
        $('#reload').on('click', function () {
            loadData();
        });
    });
    function loadData() {
        $('#viewAll').load('/Litigation/CaseTracking/LoadAll');
    }
</script>
}