@model CorporateViewModel
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">@localizer["Firm Name"] (<span style="color:red">*</span>)</label>
            <div class="col-md-4">
                <input type="text" placeholder="Please enter firm name" asp-for="FirmName" class="form-control" />
                <span asp-validation-for="FirmName" class="text-danger"></span>
            </div>
            <label class="col-md-2 col-form-label">@localizer["RegistrationNo"] (<span style="color:red">*</span>)</label>
            <div class="col-md-4">
                <input type="text" placeholder="Please enter registration number"
                       asp-for="RegistrationNo" class="form-control" maxlength="10" />
                <span asp-validation-for="RegistrationNo" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">@localizer["Owner"] (<span style="color:red">*</span>)</label>
            <div class="col-md-4">
                <input type="text" placeholder="Please enter owner" asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <label class="col-md-2 col-form-label">@localizer["Email"] (<span style="color:red">*</span>)</label>
            <div class="col-md-4">
                <input type="email" placeholder="Please enter email"
                       asp-for="FirmEmail" class="form-control" maxlength="10" />
                <span asp-validation-for="FirmEmail" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">@localizer["Contact"] (<span style="color:red">*</span>)</label>
            <div class="col-md-4">
                <input type="text" placeholder="Please enter owner" asp-for="FirmContact" class="form-control" />
                <span asp-validation-for="FirmContact" class="text-danger"></span>
            </div>            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">@localizer["Address"] (<span style="color:red">*</span>)</label>
            <div class="col-md-4">
                <input type="text" placeholder="Please enter address" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

