@{
    ViewData["Title"] = localizer["Add New Client Information"];
    ViewData["Caption"] = localizer["Manage Client"];
    ViewData["Note"] = localizer["All (*) marked fields are mandatory!"];
}

<style>
    .div_hide {
        display: none
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 100% !important;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
@model ClientViewModel
<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="create-form" method="post" asp-controller="ManageClient" asp-action="OnPostCreateOrEdit"
      asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">

    <input type="hidden" asp-for="@Model.CaseId" />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Name (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="text" placeholder="Please enter name" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <label class="col-md-2 col-form-label">Mobile (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="tel" placeholder="Please enter mobile" asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Email (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="email" placeholder="Please enter email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <label class="col-md-2 col-form-label">Office Email</label>
                <div class="col-md-4">
                    <input type="email" maxlength="10" placeholder="Please enter office email" asp-for="OfficeEmail" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Referal By</label>
                <div class="col-md-4">
                    <select class="form-control select2bs4" id="ReferalId" asp-for="ReferalId" asp-items="@Model.Referals">
                        <option></option>
                    </select>
                </div>
                <label class="col-md-2 col-form-label">Appearance</label>
                <div class="col-md-4">
                    <select class="form-control select2bs4" id="AppearenceID" asp-for="AppearenceID" asp-items="@Model.Appearences">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Opposite Counsel</label>
                <div class="col-md-4">
                    <select class="form-control select2bs4" id="OppositCounselId" asp-for="OppositCounselId" asp-items="@Model.OppositCounsels">
                        <option></option>
                    </select>
                </div>                
            </div>
        </div>
    </div>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Fee Information</legend>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Fee Settled </label>
                    <div class="col-md-4">
                        <input type="text" placeholder="Please settled fee" asp-for="FeeDetail.FeeSettled" class="form-control" />
                       
                    </div>
                    <label class="col-md-2 col-form-label">Advance Fee</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="Please enter advance if any" asp-for="FeeDetail.FeeAdvance" class="form-control" />
                        
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    </div>
</form>
@* <script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $("#StateCode").select2({
        placeholder: "Select a state",
        theme: "bootstrap4",
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#DistrictCode").select2({
        placeholder: "Select a district",
        theme: "bootstrap4",
        escapeMarkup: function (m) {
            return m;
        }
    });

    $("#StateCode").on("change", function () {
        $("#DistrictCode").empty();
        $.getJSON("/Client/ManageClient/LoadDistricts?StateCode=" + $("#StateCode").val(), function (data) {
            $.each(data.Data, function (i, item) {
                $("#DistrictCode").append(`<option /><option value="${item.Code}">${item.Name_En}</option>`);
            });
        });
    });
</script>
@section Scripts
{
    <script>
        function loadData() {
            $('#viewAll').load('/Client/ManageClient/LoadAll');
        }
        $(document).ready(function () {
            $("#brandTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
            $('#btnCancel').on('click', function () {
                window.history.back();
            });

            $("#StateCode").select2({
                placeholder: "Select a state",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });
            $("#DistrictCode").select2({
                placeholder: "Select a district",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $("#StateCode").on("change", function () {
                $("#DistrictCode").empty();
                $.getJSON("/Client/ManageClient/LoadDistricts?StateCode=" + $("#StateCode").val(), function (data) {
                    $.each(data.Data, function (i, item) {
                        $("#DistrictCode").append(`<option /><option value="${item.Code}">${item.Name_En}</option>`);
                    });
                });
            });
        });
    </script>
} *@