@model IEnumerable<GClientViewModel>
<table id="tblClient" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th style="width:5%">Sno.</th>
            <th style="width:25%">Name</th>
            <th style="width:10%">Mobile</th>
            <th style="width:10%">Email</th>
            <th style="width:20%">Appearence</th>
            @* <th style="width:15%">Office Email</th> *@
            <th style="width:25%">Opp. Counsel</th>
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Clients.Delete)).Result.Succeeded ||
            (AuthorizationService.AuthorizeAsync(User, Permissions.Clients.Edit)).Result.Succeeded)
            {
                <th style="width:5%">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var bt in Model)
        {
            <tr>
                <td>
                    @(++count)
                </td>
                <td>
                    @bt.Name
                </td>
                <td>
                    @bt.Mobile
                </td>
                <td>
                    @bt.Email
                </td>
                <td>
                    @bt.Appearence
                </td>
                @* <td>
                    @bt.OffEmail
                </td> *@
                <td>
                    @bt.Councel
                </td>

                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Clients.Delete)).Result.Succeeded ||
               (AuthorizationService.AuthorizeAsync(User, Permissions.Clients.Edit)).Result.Succeeded)
                {
                    <td text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Clients.Edit)).Result.Succeeded)
                                {
                                    @* <a asp-area="Client" asp-controller="ManageClient" asp-action="CreateOrUpdate" asp-route-id="@bt.Id">
                                        <i class="fas fa-pencil-alt"></i> Edit
                                    </a> *@
                                    <a onclick="jQueryModalGet('/Client/ManageClient/CreateOrEdit?id=@bt.Id','Edit')"
                                       class="dropdown-item">
                                        <i class="fas fa-pencil-alt"></i>  Edit
                                    </a>

                                }
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Clients.Delete)).Result.Succeeded)
                                {
                                    <form id="form_delete_@bt.Id" asp-area="Client"
                                          asp-controller="manageclient" method="post"
                                          asp-action="OnPostDelete"
                                          asp-route-id="@bt.Id"
                                          onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_delete_@bt.Id').submit();" class="dropdown-item">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </a>
                                    </form>
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblClient").DataTable();
    });
</script>