@model FmpCopyingAppViewModel
<style>
    .a4-size {
        width: 210mm;
        height: 297mm;
    }
</style>
<div id="printableArea">
    @foreach (var cd in Model.Cases)
    {
        <div style="padding-left:10%;padding-right:10%;page-break-after: always;" class="a4-size">
            <center><span style="font-size:26px;"><strong>Application for Copy of Record </strong></span> </center>
            <br />
            <center><span style="font-size:20px;">Form No. 20 (Rule 218)</span></center>
            <br /><br />
            To,<br />
            &ensp;&ensp; The Deputy Registrar,<br />
            &ensp;&ensp; High Court of Judicature of Rajasthan at @cd.Court.<br />
            <center><span style="font-size:20px;">Case No. &ensp; @cd.CaseType &ensp; @cd.NoYear </span></center>
            <br />
            <strong>@cd.FirstTitle</strong> &ensp;&ensp;&ensp;&ensp;&ensp; Versus &ensp;&ensp;&ensp;&ensp;&ensp;<strong>@cd.SecondTitle</strong>
            <br /><br />
            Decided/Fixed for hearing on  <strong>@( cd.DisposalDate=="" ? cd.NextDate : cd.DisposalDate)</strong>  By the Court of  Hon' ble <strong>@cd.CourtType @cd.Court</strong>
            <br /><br />
            &ensp;Kindly grant one Certified Copy of the paper named in the following list from the record of
            The above mentioned case for which I tender copying sheets of the value of Rs
            <br /><br />
            &ensp;The application is <strong><span>&#64;</span> Urgent</strong><br />
            &ensp;% I am Councel For <strong>@cd.Appearence</strong>
            <br />
            in the case.<br />
            &ensp;My Address
            &ensp;&ensp;<i>@cd.LawyerName &ensp; @cd.LawyerAddress</i>
            <center><span style="font-size:26px;"><strong>LIST </strong></span> </center>
            <br />
            <table border="1" style="width:100%;height:400px;">
                <tr style="height:80px;">
                    <td style="width:5%; text-align:center;">Sr. No.<br /><br />1</td>
                    <td style="width:35%;text-align:left;">
                        Full Particulars of the Paper for which a copy is sought.<br />
                        <center>2</center>
                    </td>
                    <td style="width:20%; text-align:left;">No of Copies  required <br /><br /><br /> <center>3</center></td>
                    <td style="width:35%; text-align:left;">
                        The purpose for which the copies sought. <br /><br />
                        <center>4</center>
                    </td>
                    <td style="width:5%; text-align:left;">Remarks<br /><br /><br /><center>5</center></td>
                </tr>
                <tr>
                    <td style="width:5%; text-align:center;vertical-align:top;">1</td>
                    <td style="width:30%;text-align:center;vertical-align:top;">@cd.DisposalDate</td>
                    <td style="width:30%;text-align:center;vertical-align:top;"> 1</td>
                    <td style="width:30%;text-align:center;vertical-align:top;"><strong>For Record</strong></td>
                    <td style="width:5%; text-align:center;"> </td>
                </tr>
                <tr style="height:20px;">
                    <td colspan="5">
                        <span>&ensp; Date &ensp;&ensp; @DateTime.UtcNow.Date.ToString("dd/MM/yyyy")</span>
                        <span style="float:right;margin-right:5px;">Signature of applicant or his advocate</span>
                    </td>
                </tr>
            </table>
            <br />
            <strong>Note 1</strong>  - <p>
                <span>&#64;</span>Here state whether the application  'urgent' or  'ordinary' or photo state. Here state the
                applicant's status in the case if he is not a party to the case so.<br />
                <span>&#37;</span>Here insert whether the applicant wants the copy to be sent to him by post.Sufficient
                Postage stamp should sent if the copy is to sent by post.
            </p>
        </div>        
    }
</div>