@model FmpInspectionFormViewModel

<div id="printableArea">
    @foreach (var cd in Model.Cases)
    {
        <div style="page-break-after: always;" class="a4-size">
            <center><span style="font-size:26px;"><strong>FORM NO.-11</strong></span> </center><br />
            <center><span style="font-size:20px;">APPLICATION FOR INSPECTION OF RECOED</span></center>
            <div style="width:100%;line-height:1.75; font-size:16px; text-align:justify">
                To,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Deputy Registrar,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; High Court of judicature for Rajasthan, at Jaipur<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I beg to apply for permission to inspect the record of the case mentioned below.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am<sub>1</sub> Counsel For <strong><i>@cd.Appearence</i></strong><br />
                in the case<sub> 2</sub> .<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The application is<sub> 3</sub> <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Particulars of the  record of which inspection is sought<br />
                <table style="width:100%" cellpadding="2" cellspacing="0">
                    <tr>
                        <td> 1. Of what Court.</td>
                        <td style="font-weight:bold"><i>@(cd.CourtType+" " +cd.CourtName) </i></td>
                    </tr>
                    <tr>
                        <td> 2. Kind of Case.</td>
                        <td style="font-weight:bold"><i>@cd.CaseType </i></td>
                    </tr>
                    <tr>
                        <td> 3. Number and Year.</td>
                        <td style="font-weight:bold"><i>@cd.NoYear</i></td>
                    </tr>
                    <tr>
                        <td> 4. Name of Parties.</td>
                        <td style="font-weight:bold"><i>@cd.Title</i></td>
                    </tr>
                    <tr>
                        <td> 5. Date of decision(or hearing, if pending.)</td>
                        <td style="font-weight:bold"> <i>@cd.NextDate</i></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date
                        </td>
                    </tr>
                </table>
                <hr />
                <table style="width:100%" cellpadding="6" cellspacing="0">
                    <tr>
                        <td style="text-align:left">Inspection commenced at </td>
                        <td style="text-align:right;padding:10px;">Officer Report</td>
                    </tr>
                    <tr>
                        <td style="text-align:left"> </td>
                        <td style="text-align:right;padding:10px;"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">Inspection conclued at<br /></td>
                        <td style="text-align:right;padding:10px;">Signature with date</td>
                    </tr>
                    <tr>
                        <td style="text-align:left"> Inspection fee already paid with </td>
                        <td style="text-align:right;padding:10px;">Order for inspection</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">application Rs.</td>
                        <td style="text-align:right;padding:10px;"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">  Addition, if any, paid Rs.</td>
                        <td style="text-align:right;padding:10px;">
                            Deputy Registrar<br />
                            Date
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
            <div style="width:100%;line-height:1.75; font-size:16px; text-align:justify">
                <b>Note-1.</b> Here enter whether applicant is the complainant accused etc. or the complainant's agent of counsel, Counsel, as the case may be or (If the applicant is not a party or his agent or counsel) that he is not a party to the case.<br />
                2. If the applicant is not a party or his agent or counsel the reasons for which he wants an inspection  Should be stated here.<br />
                3. Here enter "Ordinary" or "Urgent".<br />
            </div>
        </div>        
    }
</div>