@model FmpPermissionSlipFormViewModel
@* <style>
    .a4-size {
        width: 210mm;
        height: 297mm;
        line-height: 10px;
    }
</style> *@
<div id="printableArea">
    @foreach (var cd in Model.PerSlipInfo)
    {
        <div style="page-break-after: always;" class="a4-size">
            <center><span style="font-size:26px;margin-bottom:20px;"><strong>Application For Early Listing of the Case</strong></span></center><br />
            <br /><br />
            <br /><br />
            <div style="width:100%;line-height:1.75; font-size:16px; text-align:justify">
                <table style="width:100%" cellpadding="2" cellspacing="0">
                    <tr>
                        <td style="width:55%"> (1)  Type of case</td>
                        <td style="font-weight:bold;width:45%;text-align:left"><i>: &emsp; @cd.CaseType </i></td>
                    </tr>
                    <tr>
                        <td style="width:55%"> (2)  Number & Year of case</td>
                        <td style="font-weight:bold;width:45%;text-align:left"><i>: &emsp; @cd.NoYear<br>&emsp;@cd.Title </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">  (3)  Date of filling of  the petition / appeal / application &ensp;&ensp;which is prayed to be listed</td>
                        <td style="font-weight:bold;width:40%;text-align:left"><i>: &emsp; @cd.DoP </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">  (4)  Date of Passing of impungned order</td>
                        <td style="font-weight:bold;width:40%;text-align:left"><i>: &emsp; @cd.DoI </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">   (5)  Matter shall go for</td>
                        <td style="font-weight:bold;width:40%;text-align:left"><i>: &emsp; @cd.MatterGo </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">   (6)  Prayer is made on behalf of    </td>
                        <td style="font-weight:bold;width:40%;text-align:left"><i>: &emsp; @cd.PrayerMadeBy </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">
                            (7)  Next date in the matter(in case where next date has already been fixed by Hon'ble<br />
                            Court or Registrar.)
                        </td>
                        <td style="font-weight:bold;width:40%;text-align:left"><i>: &emsp; @cd.NextDate </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">
                            (8)  Matter is prayed to be listed on
                        </td>
                        <td style="font-weight:bold;width:40%;text-align:left"><i>: &emsp; </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">
                            (9)  Urgency(In brief)
                        </td>
                        <td style="font-weight:bold;width:40%;text-align:left"><i>: &emsp; </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">
                            (10) Full signature of Counsel/Party
                        </td>
                        <td style="font-weight:bold;width:40%;text-align:left"><i>: &emsp; </i></td>
                    </tr>
                    <tr>
                        <td style="width:60%">
                            (11) Order of Hon'ble the Chief Justice         <br />       :
                            or his lordship's absence, order of    <br />
                            the senior most Hon'ble Judge.         <br />
                            <br />
                        </td>
                        <td style="font-weight:bold;width:40%;text-align:left">
                            <i>
                                : (a) Application is allowed and the matter is <br />
                                directed to be listed on <br />
                                before regular bench or before Court No<br />
                                (b) Application is rejected.<br />
                                (c) To be moved after.<br />
                            </i>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
                <br>
                <div>
                    Date
                </div>
            </div>
        </div>
    }
</div>