@{
    ViewData["Title"] = localizer["Generate Case Forms"];
}
<style>
    @@media print {
        body {
            margin: 0;
            padding: 0;
        }

        .a4-size {
            width: 210mm;
            height: 297mm;
            padding: 20mm 15mm 20mm 15mm; /* Top, Right, Bottom, Left */
            box-sizing: border-box;
            page-break-after: always;
        }

        * {
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
        }
    }

    .a4-size {
        width: 210mm;
        height: 297mm;
        padding: 20mm 15mm 20mm 15mm;
        box-sizing: border-box;
        margin: auto;
        page-break-after: always;
        background: white;
    }

    td {
        word-wrap: break-word;
        vertical-align: top;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }
</style>
@* <style>
    /* Force each form to start on a new page */
    .form-section {
        page-break-after: always;
    }

    .card {
        width: 100%;
    }

    .card-header {
        font-weight: bold;
    }

    .a4-size {
        width: 210mm;
        height: 297mm;
    }

    body {
        /* 	font-family: 'Ubuntu', sans-serif; */
        font-weight: bold;
    }

    /* .select2-container {
                                                min-width: 400px;
                                            } */

    .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
    }

        .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
        }

        .select2-results__option[aria-selected=true]:before {
            font-family: fontAwesome;
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }

    .select2-container--default .select2-selection--multiple {
        margin-bottom: 10px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 4px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #f77750;
        border-width: 2px;
    }

    .select2-container--default .select2-selection--multiple {
        border-width: 2px;
    }

    .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .select2-selection .select2-selection--multiple:after {
        content: 'hhghgh';
    }
    /* select with icons badges single*/
    .select-icon .select2-selection__placeholder .badge {
        display: none;
    }

    .select-icon .placeholder {
        /* 	display: none; */
    }

    .select-icon .select2-results__option:before,
    .select-icon .select2-results__option[aria-selected=true]:before {
        display: none !important;
        /* content: "" !important; */
    }

    .select-icon .select2-search--dropdown {
        display: none;
    }

    .applicant-number {
        float: right;
        border: 1px solid black;
        height: 30px;
        width: 30px;
        text-align: center;
    }

</style> *@
@model FmpViewModel

<div class="container">
    <!-- Filter Section -->
    <div class="row mb-3">
        <div class="col-lg-3">
            <label class="global-font">Select Cases (<span style="color:red">*</span>)</label>
            <select class="form-control select2bs4" asp-for="@Model.CaseIds" asp-items="@Model.Cases">
                <option></option>
            </select>
        </div>
        <div class="col-lg-3">
            <label class="global-font">Select Title</label>
            <select class="form-control select2bs4" asp-for="@Model.TitleIds" asp-items="@Model.Titles">
                <option></option>
            </select>
        </div>
        <div class="col-lg-3">
            <label class="global-font">Select Form Type (<span style="color:red">*</span>)</label>
            <select class="form-control select2bs4" asp-for="@Model.FormTypeId" asp-items="@Model.FormTypes">
                <option></option>
            </select>
        </div>


        <div class="col-lg-3 d-flex align-items-end">
            <a id="btnSearch" class="btn bg-success mr-2">
                <i class="fa fa-search"></i> Generate
            </a>
            <a id="reload" class="btn btn-primary text-white">
                <i class="fa fas fa-reset"></i> Reset
            </a>
        </div>
    </div>

    <!-- Output Section -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="mb-0" id="lblHeader"></h3>
                    <a href="#" id="btnPrint" class="btn btn-primary">Print</a>
                </div>

                <div class="card-body">
                    <div id="viewAll" class="table-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/formprint.js"></script>
}