@{
    ViewData["Title"] = localizer["Form Print"];
}
@* @model FmpViewModel

<div class="card shadow">
    <!-- Search Panel -->
    <div class="card shadow border-0 mb-4">
        <div class="card-header">
            <h5 class="mb-0 text-primary">@localizer["Generate Case Documents"]</h5>
        </div>
        <div class="card-body pt-3">
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">Select Court Type <span class="text-danger">*</span></label>
                    <select class="form-control select2bs4" asp-for="CourtTypeId" asp-items="@Model.CourtTypes">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Select Case Type <span class="text-danger">*</span></label>
                    <select class="form-control select2bs4" asp-for="CaseTypeId" asp-items="@Model.CaseTypes">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Select Form Type <span class="text-danger">*</span></label>
                    <select class="form-control select2bs4" asp-for="FormTypeId" asp-items="@Model.FormTypes">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Select Case <span class="text-danger">*</span></label>
                    <select class="form-control select2bs4" asp-for="CaseIds" asp-items="@Model.Cases">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <label class="form-label">Select Title</label>
                    <select class="form-control select2bs4" asp-for="TitleIds" asp-items="@Model.Titles">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-3 d-flex align-items-end justify-content-end">
                    <div class="d-flex w-100 gap-2">
                        <a id="btnSearch" class="btn btn-success w-50">
                            <i class="fa fa-search"></i> Generate
                        </a>
                        <a id="reload" class="btn btn-primary w-50">
                            <i class="fa fa-undo"></i> Reset
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Output Section -->
    <div class="card shadow border-0">
        <div class="card-header bg-light d-flex justify-content-between align-items-center">
            <h5 class="mb-0 text-primary" id="lblHeader">Output Section</h5>
            <a href="#" id="btnPrint" class="btn btn-outline-primary">
                <i class="fa fa-print"></i> Print
            </a>
        </div>
        <div class="card-body">
            <div id="viewAll" class="table-responsive">
                <!-- Dynamic content will render here -->
            </div>
        </div>
    </div>
</div> *@


@model FmpViewModel
<div class="card shadow">
    <!-- Search Panel -->
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-header">
            <h6 class="mb-0 text-primary">@localizer["Search Detail for generating the form"]</h6>
        </div>
        <div class="card-body pt-3">
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">Select Court Type <span class="text-danger">*</span></label>
                    <select class="form-control select2bs4" asp-for="CourtTypeId" asp-items="@Model.CourtTypes">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Select Case Type <span class="text-danger">*</span></label>
                    <select class="form-control select2bs4" asp-for="CaseTypeId" asp-items="@Model.CaseTypes">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Select Form Type <span class="text-danger">*</span></label>
                    <select class="form-control select2bs4" asp-for="FormTypeId" asp-items="@Model.FormTypes">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Select Case <span class="text-danger">*</span></label>
                    <select class="form-control select2bs4" asp-for="CaseIds" asp-items="@Model.Cases">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <label class="form-label">Select Title</label>
                    <select class="form-control select2bs4" asp-for="TitleIds" asp-items="@Model.Titles">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-md-3 d-flex align-items-end justify-content-end">
                    <div class="d-flex w-100 gap-2">
                        <a id="btnSearch" class="btn btn-success">
                            <i class="fa fa-search"></i> Generate
                        </a> &nbsp;
                        <a id="reload" class="btn btn-primary">
                            <i class="fa fa-undo"></i> Reset
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Output Section -->
    <div class="card shadow-sm border-0">
        <div class="card-header bg-light d-flex justify-content-between align-items-center">
            <h4 class="mb-0 text-primary" id="lblHeader">Output Section</h4>
            <a href="#" id="btnPrint" class="btn btn-outline-primary">
                <i class="fa fa-print"></i> Print
            </a>
        </div>
        <div class="card-body">
            <div id="viewAll" class="table-responsive">
                <!-- Table or dynamic content here -->
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/formprint.js"></script>
}