@model IEnumerable<WorkMasterViewModel>
<table id="tblWorkMaster" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Sno.</th>
            <th>Name(En)</th>
            <th>Name(Hn)</th>
            @* <th>Abbreviation</th> *@
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.WorkType.Delete)).Result.Succeeded
            || (AuthorizationService.AuthorizeAsync(User, Permissions.WorkType.Edit)).Result.Succeeded)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var bt in Model)
        {
            <tr>
                <td>@(count = count + 1)</td>
                <td>
                    @bt.Work_En
                </td>
                <td>
                    @bt.Work_Hn
                </td>
                @* <td>
                    @bt.Abbreviation
                </td> *@
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.WorkType.Delete)).Result.Succeeded ||
               (AuthorizationService.AuthorizeAsync(User, Permissions.WorkType.Edit)).Result.Succeeded)
                {
                    <td text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.WorkType.Edit)).Result.Succeeded)
                                {
                                    <a onclick="jQueryModalGet('/LawyerDiary/WorkMaster/OnGetCreateOrEdit?id=@bt.Id','Edit Work Master Type')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a>

                                }
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.WorkType.Delete)).Result.Succeeded)
                                {
                                    <form id="form_delete_@bt.Id" asp-area="LawyerDiary"
                                          asp-controller="WorkMaster" method="post" asp-action="OnPostDelete"
                                          asp-route-id="@bt.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_delete_@bt.Id').submit();"
                                           class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete</a>
                                    </form>
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        JqueryDataTable('tblWorkMaster','Work Type','0,1,2');
    });    
</script>