@{
    ViewData["Title"] = localizer["Petition Template"];
    ViewData["Caption"] = localizer["Dynamic Petition Template"];
}
<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 100% !important;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
@model FormBuilderViewModel
<form id="create-form" method="post" asp-controller="Drafting" asp-action="OnPostCreateOrEdit"
      asp-route-id="@Model.Id" enctype="multipart/form-data">
    @* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">@localizer["Drafting Form"]</label>
                <div class="col-md-4">
                    <div class="input-group" id="Template">
                        <select asp-for="DraftingFormId" asp-items="@Model.DraftingForms"
                                class="form-control select2bs4">
                            <option></option>
                        </select>
                    </div>
                    <span asp-validation-for="DraftingFormId" class="text-danger"></span>
                </div>

                <label class="col-md-2 col-form-label">@localizer["Associate Template"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select asp-for="TemplateId" asp-items="@Model.Templates" class="form-control select2bs4"><option></option></select>
                    </div>
                    <span asp-validation-for="TemplateId" class="text-danger"></span>
                </div>
                
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">@localizer["Case Title"]</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <select asp-for="CaseId" asp-items="@Model.Cases" class="form-control select2bs4"><option></option></select>
                    </div>
                    <span asp-validation-for="CaseId" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group row">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">@localizer["Template Fields"]</legend>
                    <div class="card-body">
                        <div id="FieldDetails" class="card-body table-responsive">
                            @if (Model.FieldDetails != null)
                            {
                                <partial name="_FormFields" model="Model" />
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" id="btnCancel" class="btn btn-default close-button">Cancel</button>
    </div>
</form>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $("#CaseId").select2({
                placeholder: "Select a title",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $("#DraftingFormId").select2({
                placeholder: "Select a form",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $("#TemplateId").select2({
                placeholder: "Select a template",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $("#DraftingFormId").on("change", function () {
                RenderFormElement();
            });

            var recordExists = '@TempData.Peek("RecordExists")';
            if (recordExists) {
                Swal.fire({
                    title: 'Record Exists',
                    text: 'A record with this template is already exists. Do you want to update it?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, update it!',
                    cancelButtonText: 'No, cancel!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Handle the update logic here
                        // For example, you can submit the form again with a different action
                        $('#create-form').submit();
                    }
                });
            }

        });
        function RenderFormElement() {
            var input = {
                TemplateId: $("#DraftingFormId").val(),
                ViewModel: {
                    TemplateId: $("#DraftingFormId").val(),
                    CaseId: $("#CaseId").val()
                }
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetTemplateFields", "Drafting")',
                data: input,
                success: function (response) {   
                    debugger;
                    $('#FieldDetails').html(response);                    
                }
            });
        }
    </script>
}
